.music_card {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  position: relative;
  justify-content: center;
}

.audioPlayer {
  position: absolute;
  bottom: 5px;
  width: 99%;
  right: 2px;
}
.card_img {
    /* height: 200px; */
}

.description_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 70px; 
    width: 200px;
    opacity: 1;
}

.description_box:hover {
    background-color: azure;
    opacity: 1;
}