.content_box.homePage {
  display: flex;
  flex-direction: column;
}

.recommendation_lists,
.artists_lists,
.favorite_tracks_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.artist-link,
.recommend-link {
  text-decoration: none;
}
