.headerBox {
    background-color: black;
    height: 30px;
    
    color: white;
    padding: 5px;
}

.navList {
    display: flex;
    width: 70%;
    max-width: 1280px;
    margin: 4px auto;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
}

.navbar__list__item a.active {
    position: relative;
    left: 20px;
    padding: 0 5px;
    width: 100px;
    color: rgb(12, 168, 25); 
    font-weight: bold; 
    
  }

  .navbar__list__item a {
    color: rgb(187, 184, 184);
    font-size: large;
    text-decoration: none;
    
    
  }