.headerBox {
  width: 100vw;
  background-color: black;
  padding: 5px;
  align-items: center;
}

.navList {
  display: flex;
  width: 90%;
  height: 100%;
  max-width: 1280px;
  justify-content: space-around;
  list-style: none;
}

.navbar__list__item {
  height: 100%;
}

.navbar__list__item a {
  color: rgb(187, 184, 184);
  font-size: large;
  text-decoration: none;
}

.navbar__list__item a.active {
  width: 100px;
  color: rgb(12, 168, 25);
}
